.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f4f7;
    padding: 26px 120px;
    height: 68px;
    margin-bottom: 4px;
}

.logo {
    color: #101828;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.logo>span {
    color: #3470ff;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.noActiveLink {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #101828;
}

.activeLink {
    color: #0b44cd;
}