.hero {
    background-image: url(../../../public/homepage-image-1x.jpg);
    height: 90vh;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.text {

    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.link {
    border-radius: 12px;
    padding: 12px 88px;
    width: 276px;
    height: 44px;
    margin-bottom: 60px;
    background-color: #3470ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    transition: transform 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.link:hover,
.link:active {
    transform: scale(1.05);
}